<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %cyan([%thread]) %highlight(%-5level) %yellow(%logger{60}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="reactivemongo.api.Cursor" level="ERROR"/>
    <logger name="reactivemongo.api.Failover" level="ERROR"/>
    <logger name="reactivemongo.api.Failover2" level="ERROR"/>
    <logger name="reactivemongo.api.MongoDriver" level="ERROR"/>
    <logger name="reactivemongo.core.actors.MongoDBSystem" level="ERROR"/>
    <logger name="reactivemongo.core.actors.MonitorActor" level="ERROR"/>
    <logger name="akka://mongodb-akka" level="ERROR"/>

    <logger name="com.lorandszakacs.sg.indexer.impl.SGIndexerImpl" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>